html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.wrapper {
	height: 100%;
	width: 100%;
}

.content {
	background-image: url('https://i.ytimg.com/vi/aZcSCT34H84/maxresdefault.jpg');
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	background-color: white;
	border-radius: 28px;
	border: 1px solid pink;
	display: inline-block;
	cursor: pointer;
	color: red;
	font-family: Arial;
	font-size: 17px;
	padding: 16px 31px;
	text-decoration: none;
	text-shadow: 0px 1px 0px pink;
}

p {
	position: absolute;
	bottom: 10px;
	padding: 2rem;
}

.audio {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
